html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {


}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-Regular"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-SemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  background-color: #240935	 ;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bttn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
}


.section-offset {
  padding: 100px 80px;
}

h1,h2,h3,p {
  margin: 0;
}

/* header */

.header {
  background-color: #000000;
  border-radius: 0 0 32px 32px;
  padding: 25px 50px;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: #FFFFFF;
}

.header-list {
  gap: 30px;
}

.header-item {
  color: #FFFFFF;
}

/* main */

.main-title {
  color: #FFFFFF;

}

.right-side {
  flex-direction: column;
  width: 28%;
  height: 100%;
  margin-right: 25px;
  align-items: center;
}

.left-side {
  flex-direction: column;
  width: 70%;
}

.p-size {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  border-radius: 32px;
  align-items: end;
  background-color: #fff;
}

.project-inf {
  background-color: #1c1c1ce7;
  border-radius: 32px;
  padding: 30px;
  width: 100%;
  color: #BC9FCF;
}

.project1 {
  background-image: url(/img/balconies.png);
  background-size: cover;
}

.project2 {
  background-image: url(/img/lagoona.png);
  background-size: cover;
}

.project3 {
  background-image: url(/img/first-bg.jpg);
  background-size: cover;
}
