html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* :root {


} */

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-Regular"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSana-SemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  background-color: #240935	 ;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bttn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
}


.section-offset {
  padding: 100px 80px;
}

h1,h2,h3,p {
  margin: 0;
}

/* header */

.header {
  background-color: #000000;
  border-radius: 0 0 32px 32px;
  padding: 25px 50px;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: #FFFFFF;
}

.header-list {
  gap: 30px;
}

.header-item {
  color: #FFFFFF;
}

/* main */

.main-title {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.project {
  flex-wrap: wrap;
}

.p-size {
  width: 480px;
  height: 300px;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 32px;
  align-items: end;
  background-color: #8d8a8a98;

  background-size: cover;
  position: relative;
  overflow: hidden;
}

.p-size:nth-child(2n) {
  margin-right: 0;
}

.project-inf {
  background-color: #1c1c1ce7;
  border-radius: 32px;
  padding: 30px;
  width: 100%;
  color: #BC9FCF;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  max-height: 80px;
  transition: max-height 0.5s ease-in-out;
}

.descrTitle {
  color: #d5c4e2;
  padding-left: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.project-descr {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.project-inf:hover {
  max-height: 300px;
}

.project-inf:hover .descrTitle {
  opacity: 1;
  visibility: visible;
}

.project-inf:hover .project-descr {
  opacity: 1;
  visibility: visible;
}

.project-descr li {
  padding: 8px 0;
}

.aProject::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.project1 {
  background-image: url(/img/balconies.png);
}

.project2 {
  background-image: url(/img/lagoona.png);
}

.project3 {
  background-image: url(/img/first-bg.jpg);
}

.project0 {
  background-image: url(/img/hero.png);
  background-position: right;
}
.project4 {
  background-image: url(/img/blanchard.png);
}

.project5 {
  background-image: url(/img/pairs.png);
}


.overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.473);
  z-index: 9998;

  /* display: none; */
}

.overLayDiv {
    width: 650px;
    min-height: 300px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c1c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: transform 0.5s ease 0s, display 0.5s ease 0s;

    padding: 40px;

    /* display: none; */
}

.btn-wrapper {
  justify-content: center;
}

.btn-close {
  margin: auto 0;
  background-color: #BC9FCF;
  border-radius: 20px;
  padding: 20px 30px;
  color: #240935;
  font-weight: 600;
  transition: background-color .3s ease-in-out;
}

.btn-close:focus {
  background-color: #d2bbe2;
}

.btn-close:hover {
  background-color: #d2bbe2;
}

.btn-close:active {
  background-color: #7c6e86;
}

.overH {
  color: #fff;
  margin: 0;
  margin-bottom: 20px;


}

.overP {
  color: #BC9FCF;
  font-weight: 600;
  margin: 0;
  margin-bottom: 15px;
}

.overList {
  margin-bottom: 20px;
}

.overA {
  color: #BC9FCF;
  margin-bottom: 10px;
  transition: color .3s ease-in-out;
}

.overA:focus {
  color: #d2bbe2;
}

.overA:hover {
  color: #d2bbe2;
}

.overA:active {
  color: #7c6e86;
}
